@import "@civility/stylesheets/dist/civility.css";

html, body {
  background: #F5F5F5;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body > div {
  height: 100%;
  width: 100%;
  min-width: 200px;
  min-height: 200px;
  max-width: 100%;
}

/*  Nav Bar  */
.nav {
  padding-top: 2em;
  z-index: 2;
}

.nav .nav-item a {
  color: #484848;
  text-decoration: none;
}

.nav-item,
.page-turn {
  color: #484848;
  cursor: pointer;
  opacity: 0.8;
}

.nav-item {
  font-family: "Consolas", "Monaco", "Menlo", monospace;
  font-size: 1.1em;
  padding-right: 1em;
  text-decoration: none;
  transition: all 0.2s;
}

.nav-item:hover,
.nav-item.active {
  border: none;
  cursor: pointer;
  color: #000000;
}

.nav .friday-message {
  color: green;
  vertical-align: super;
  font-size: 0.8em;
}

/*  Page Turn  */
.page-turn {
  cursor: pointer;
  display: block;
  font-size: 4em;
  position: fixed;
  user-select: none;
  top: 40%;
  transform: translateY(-50%);
  z-index: 3;
}

.page-turn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-turn.left  { left:  4rem; }
.page-turn.right { right: 4rem; }


/*  About  */
.about-page {
  margin: auto;
  padding: 2em;
}

.origin-story {
  color: black;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin: auto;
  max-width: 500px;
}

.origin-story h1 {
  text-align: center;
}

.origin-story p {
  padding-top: 1em;
  padding-bottom: 2em;
}

.origin-image {
  width: 90%;
  border: 5px solid black;
}

.github-link {
  padding-top: 4em;
  padding-bottom: 2em;
  text-align: center;
}

.github-link a {
  text-decoration: none
}

/**  Poem  **/
.home {
  max-width: 800px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.home .poem {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  margin: auto;
  z-index: 0;
}

.home .poem .content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-height: 60%;
  max-width: 95%;
}

.content {
  padding: 0;
  white-space: pre;
  font-size: 1.3rem;
}

.content p {
  font-size: 1em;
}

.content p.text {
  line-height: 1.5;
  margin-bottom: 15px;
  white-space: pre;
}

.content p.text:first-line {
  font-variant: small-caps;
  letter-spacing: 1px;
}

.content p.text:last-child {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.author {
  font-variant: small-caps;
  letter-spacing: 1px;
  padding-bottom: 3em;
}

.no-content {
  font-size: 1em;
  font-variant: small-caps;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translateX(-50%);
}


/**  Typewriter **/
.input-row {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.input-col {
  text-align: left;
  margin: auto;
  margin-top: 1em;
  display: inline-block;
}

.input-col input {
  font-size: 1.5em;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: block;
  background-color: rgba(256, 256, 256, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.text-area__wrapper {
  height: 100%;
  width: 100%;
  padding-bottom: 2em;
}

.text-area__content,
.text-area__content[type=text] {
  height: 100%;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  display: block;
  border: 1px solid #CCC;
  border-radius: 3px;
  line-height: 1.5;
  font-size: 1.3rem;
  white-space: pre;
  min-height: 200px;
  background-color: rgba(256, 256, 256, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.text-area__content:first-line,
.text-area__content[type=text]:first-line {
  font-variant: small-caps;
  letter-spacing: 1px;
}

.text-area__content:focus,
.text-area__content[type=text]:focus {
  border: 1px solid #000;
  box-shadow: none;
  outline: none;
}

.typewriter {
  padding: 2em
}

.typewriter__content {
  padding-bottom: 2em;
  text-align: left;
}

.typewriter__submit {
  border-radius: 2px;
  font-size: 0.9em;
  padding: 0.3em;
}

.typewriter .poem {
  height: 100%;
  left: 0;
  margin: auto;
  position: relative;
  text-align: center;
  top: 1em;
  width: 100%;
  z-index: 1;
}

.typewriter .poem .content {
  display: inline-block;
  text-align: left;
}

button.button.primary.submit-button {
  background-color: transparent;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  margin: auto;
  font-size: 1em;
  font-weight: normal;
  line-height: 2;
  margin-top: 4em;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
  text-transform: lowercase;
}
