.text-area
  &__content
    width: 40%;
    min-height: 3em;
    border: 1px solid #CCC;
    border-radius: 3px;

    &:focus
      border: 1px solid #000;
      box-shadow: none;
      outline: none;
