.page-turn
  cursor: pointer
  z-index: 12
  opacity: 1
  transition: all 0.5s

@media screen and (max-width: 600px) {
  .page-turn {
    opacity: 0
  }
}

.right
  transform: rotate(180deg)

.up
  transform: rotate(90deg)

.down
  transform: rotate(270deg)
