.active
  color: #000

.nav
  z-index: 2

.nav-item a
  color: #484848
  font-family: "Consolas", "Monaco", "Menlo", monospace
  text-decoration: none
  transition: all 0.25s

.nav-item a:hover
  cursor: pointer
  color: #000000
  border: none
