.nav
  z-index: 2

.nav-item a
  color: #484848
  font-family: "Consolas", "Monaco", "Menlo", monospace
  font-size: 1.1em
  padding-right: 1em
  text-decoration: none
  transition: all 0.2s

.nav-item a:hover,
.nav-item.active
  border: none
  cursor: pointer
  color: #000000

.nav-item a.friday-message {
  color: green
  vertical-align: super
  font-size: 0.8em
}