.nav
  z-index: 2

.nav-item a
  color: #484848
  font-family: "Consolas", "Monaco", "Menlo", monospace
  text-decoration: none
  transition: all 0.25s
  padding-right: 1em

.nav-item a:hover
  cursor: pointer
  color: #000000
  border: none

.main-nav-item
  font-size: 1.1em 

.minor-nav-item
  opacity: 0.5