.info-page
  margin: auto
  padding: 2em

.origin-story
  color: black
  padding-left: 2em
  padding-right: 2em
  padding-bottom: 2em

  p
    padding-top: 0.5em

.origin-image
  width: 100%

.github-link
  padding-top: 2em
  padding-bottom: 2em
  text-align: center

  a
    text-decoration: none