.content
  padding: 0
  white-space: pre
  font-size: 1.3rem

.content p
  font-size: 1em

.content p.text
  line-height: 1.5
  margin-bottom: 15px
  white-space: pre

.content p.text:first-line
  font-variant: small-caps
  letter-spacing: 1px

.content p.text:last-child
  margin-bottom: 30px
  padding-bottom: 30px

.author
  font-variant: small-caps
  letter-spacing: 1px
  padding-bottom: 3em

.no-content
  font-size: 1em
  font-variant: small-caps
  position: absolute
  top: 41%
  left: 50%
  transform: translateX(-50%)
