.typewriter
  padding: 2em

  &__content
    padding-bottom: 2em
    text-align: left

  &__submit
    border-radius: 2px
    font-size: 0.9em
    padding: 0.3em

  .poem
    height: 100%
    left: 0
    margin: auto
    position: relative
    text-align: center
    top: 1em
    width: 100%
    z-index: 1

  .poem .content
    display: inline-block
    text-align: left